:root {

}
* {
    box-sizing: border-box;
}

body {

}

header {
    display: flex;
    padding-bottom: 5px;
    border-bottom: solid 5px;
    align-items: flex-end;
    
}

header img {
    max-height: 125px;
    border: solid 1px;
    margin: 5px;
}

header h1 {
    flex: 1 1 200px;
    flex-direction: column;
    font-size: 3rem;
    padding-bottom: 10px;
}

header h3 {
    padding-bottom: 10px;
}
.header-navlinks li {
    display: inline;
    /* justify-self: flex-end; */
    /* align-items: flex-end; */
    /*I have no idea why these aren't doing anything? shouldn't it move them to the end of the flex container?*/
    font-family: monospace;
    font-size: 16px;
}

main {

}

.top-project {

}

.other-projects {

}